{
  "user": "melvincarvalho",
  "twtfile": "/home/user/twtxt.txt",
  "limit_timeline": "20",
  "following": [
    {
      "user": "twtxt",
      "uri": "https://buckket.org/twtxt_news.txt"
    }
  ]
}
